<!DOCTYPE html>
<html>
  <head>
    <title>VoteChain</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>VoteChain</h1>
    <p>Welcome VoteChain</p>
    <div id="like_button_container"></div> 
    <div id="all_news"></div>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="./like_button.js" type="text/babel"></script>
  </body>
</html>
